.cartItem {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 396;
  gap: 12px;
}
.cartItemInfoWrap {
  display: flex;
  padding-bottom: 18px;
  justify-content: space-between;
  flex-grow: 1;
}
.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}
.stepper {
  align-self: flex-end;
}

li:not(:last-child) .cartItemInfoWrap {
  border-bottom: 1px solid #dee2e6;
}
